/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1.2;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* base */

html, body {
  font-size: 16px;
  color: #444;
  background: #fcfcfc;
}

@media (max-width: 350px) {
  html, body {
    font-size: 14px;
  }
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 1.2em 0;
}

input[type="text"], textarea {
  width: 100%;
  font-size: .9em;
  line-height: 2em;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: .1em .4em;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-bottom-color: #20b2aa;
}

/* layout */

header {
  height: 3em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
  background-color: #20b2aa;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.l-main {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3em;
  padding-top: 3em;
  position: relative;
}

.l-align-center {
  text-align: center;
}

.l-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  padding: 2em 0;
  z-index: 10;
}

footer {
  text-align: center;
  padding-bottom: .8em;
}

footer span {
  font-size: .85em;
}

/* module */

.top-title {
  font-size: 3em;
}

header .icon {
  color: #fff;
  font-size: 1.2em;
  line-height: 3rem;
  position: relative;
}

header .back-btn {
  position: absolute;
  font-size: 1.5em;
  left: .8em;
  top: .4em;
  color: #fff;
}

.event-form {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  border-radius: 2px;
  padding: 2.5em 0;
  background-color: #fff;
}

.form-item {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.2em;
}

@media (max-width: 768px) {
  .form-item {
    width: 85%;
  }
}

.form-item:last-child {
  margin-bottom: 2.5em;
}

.num-selector p {
  margin-bottom: .5em;
}

.num-btn {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  line-height: 1.4em;
  font-size: 1.3em;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.num-btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

.plus-btn {
  background-color: #ec6d51;
}

.minus-btn {
  background-color: #38a1db;
}

.num-selector .num {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  line-height: 1.3em;
  font-size: 1.6em;
  margin: 0 1em;
  position: relative;
  top: .07em;
}

.btn {
  display: inline-block;
  padding: .7em 1.4em;
  min-width: 11em;
  background-color: #20b2aa;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  border-radius: 2px;
  cursor: pointer;
}

.btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

.reset-btn {
  background-color: #ec6d51;
  color: #fff;
  font-size: .9em;
  padding: .6em 1.2em;
  min-width: 0;
  margin: 1em 0 .5em;
}

.form-item .choice-explain {
  text-align: center;
  font-size: .85em;
  color: #777;
  margin-top: 1.5em;
}

.is-input-disabled {
  background-color: #f5f5f5;
  color: #888;
}

.form-item .nickname-form {
  max-width: 20em;
  width: 80%;
  margin: 1em 0;
}

.form-item .form-explain {
  text-align: left;
  font-size: .85em;
  color: #777;
  max-width: 28em;
  margin: 0 auto;
  padding-bottom: .5em;
}

.form-item .choice {
  display: inline-block;
  padding: .7em .7em .7em 1.4em;
  width: 16em;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  margin-bottom: .8em;
  border-left: 5px solid #20b2aa;
  position: relative;
  cursor: pointer;
}

@media (max-width: 450px) {
  .form-item .choice {
    width: 13em;
  }
}

.form-item .choice:before {
  display: inline-block;
  content: "";
  border: 7px solid transparent;
  border-left-color: #20b2aa;
  position: absolute;
  left: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-item .choice:active {
  position: relative;
  top: 1px;
}

.form-item .score {
  display: inline-block;
  position: absolute;
  left: -3.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-item .score .score-label {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #ffa500;
  padding: .5em;
  border-radius: 50%;
  line-height: 1;
}

.form-item .score .score-label small {
  font-size: .8em;
  font-weight: normal;
}

.event-info {
  width: 80%;
  margin: 0 auto 2em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 1.2em 1em 1em 1.5em;
  position: relative;
}

.event-info h2 {
  position: absolute;
  font-size: .9em;
  top: -1.1em;
  left: -.5em;
  display: inline-block;
  background-color: #ffd590;
  padding: .5em 0;
  width: 4.6em;
  text-align: center;
  border-radius: 50%;
}

.event-info p {
  display: inline-block;
  text-align: left;
  font-size: .95em;
}

.event-info p.event-theme {
  font-size: 1.1em;
}

.event-info ul {
  display: inline-block;
  text-align: left;
}

.event-info ul li {
  padding-left: 0 1em;
  margin: .5em 0;
  position: relative;
}

.event-info li:before {
  display: inline-block;
  content: "";
  border: .4em solid transparent;
  border-left-color: #20b2aa;
  position: absolute;
  top: .1em;
  left: -1em;
}

.btn.btn-inverse {
  background-color: #fff;
  color: #20b2aa;
  font-size: .8em;
}

.event-edit-btn {
  position: absolute;
  padding: .6em 1em;
  right: 2em;
  top: 5.9em;
  min-width: 0;
}

.vote-list-btn {
  min-width: 0;
  margin-top: 1.5em;
}

.event-edit-btn:active {
  position: absolute;
  top: 6.05em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

.event-finish-btn {
  font-size: .9em;
  min-width: 0;
  margin: 3em 0 .7em;
  background-color: #fff;
  color: #ec6d51;
}

.finish-btn-explain {
  font-size: .8em;
  width: 21em;
  margin: 0 auto;
  color: #777;
}

.modal-item {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 85%;
  max-width: 30em;
  max-height: 20em;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .4em;
  overflow: auto;
}

.modal-header {
  padding: .7em;
  border-bottom: 1px solid #ccc;
  background-color: #ffe4b5;
}

.modal-close-btn {
  position: absolute;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  top: .07em;
  left: .5em;
  color: #777;
  cursor: pointer;
}

.modal-header h3 {
  text-align: center;
}

.modal-content {
  padding: 1em 1.5em;
  text-align: center;
}

.modal-content p {
  display: inline-block;
  text-align: left;
}

/* state */

.is-btn-disabled {
  background-color: #bbb;
}

.is-btn-disabled:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  top: 0;
}

.is-choice-selected {
  position: relative;
  left: 1.5em;
  background-color: #eee;
}

.is-modal-invisible {
  display: none;
}

/* theme */
