/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}

/* base */

html, body {
  font-size: 16px;
  color: #444;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
}

input[type="text"], textarea {
  width: 100%;
  font-size: .9em;
  line-height: 2em;
  border: none;
  border-bottom: 2px solid #ccc;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-bottom-color: #20b2aa;
}

/* layout */

.l-main {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.l-align-center {
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: .8em;
}

footer span {
  font-size: .85em;
}

/* module */

.top-title {
  font-size: 4em;
}

.event-form {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  border-radius: 2px;
  padding: 2.5em 0;
}

.form-item {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.2em;
}

@media (max-width: 768px) {
  .form-item {
    width: 85%;
  }
}

.form-item:last-child {
  margin-bottom: 2.5em;
}

.num-selector p {
  margin-bottom: .5em;
}

.num-btn {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  line-height: 1.4em;
  font-size: 1.3em;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.num-btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

.plus-btn {
  background-color: #ec6d51;
}

.minus-btn {
  background-color: #38a1db;
}

.num-selector .num {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  line-height: 1.3em;
  font-size: 1.6em;
  margin: 0 1em;
  position: relative;
  top: .07em;
}

.btn {
  display: inline-block;
  padding: .7em 1.4em;
  min-width: 8em;
  background-color: #20b2aa;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  border-radius: 2px;
  cursor: pointer;
}

.btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

/* state */

.is-btn-disabled {
  background-color: #bbb;
}
.is-btn-disabled:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  top: 0;
}

/* theme */
