<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ボルダで決めったー</title>
    <link rel='stylesheet' href="../src/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <a href="/" class="icon">ボルダで決めったー</a>
    </header>
    <div class="l-main">
      <h1>投票イベント</h1>
      <span class="btn btn-inverse event-edit-btn" id="edit-password-open-btn">編集</span>
      <div class="modal is-modal-invisible" id="edit-password">
        <div class="modal-item">
          <div class="modal-header">
            <span class="modal-close-btn" id="edit-password-close-btn">×</span>
            <h3>パスワード入力</h3>
          </div>
          <div class="modal-content">
            <form action="/event/{{.event.ID}}/edit" method="post">
              <input type="password" name="password" placeholder="パスワード">
              <button type="submit" class="btn btn-inverse">編集フォームへ</button>
            </form>
          </div>
        </div>
      </div>
      <div class="event-info">
        <h2>テーマ</h2>
        <div class="l-align-center">
          <p class="event-theme">{{ .event.Theme }}</p>
        </div>
      </div>
      {{ if .event.Detail }}
        <div class="event-info">
          <h2>説明</h2>
          <div class="l-align-center">
            <p>{{ .event.Detail }}</p>
          </div>
        </div>
      {{ end }}
      {{ if .event.Finished }}
        <h2>投票結果</h2>
        <ul>
          {{ range .result }}
            <li>{{ .ChoiceName }}（{{ .TotalScore }}点）</li>
          {{ end }}
        </ul>
      {{ else }}
        <div class="event-info">
          <h2>選択肢</h2>
          <div class="l-align-center">
            <ul>
              {{ range .event.Choices }}
                <li>{{ .Name }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="l-align-center">
          <a href="/vote/{{.event.ID}}" class="btn">投票フォームへ</a>
        </div>
        <div class="l-align-center">
          <span class="btn btn-inverse vote-list-btn" id="vote-list-open-btn">投票者一覧</span>
        </div>
        <div class="modal is-modal-invisible" id="vote-list">
          <div class="modal-item">
            <div class="modal-header">
              <span class="modal-close-btn" id="vote-list-close-btn">×</span>
              <h3>投票者一覧（{{ len .event.Votes }}名）</h3>
            </div>
            <div class="modal-content">
              <p>
                {{ range $i, $v := .event.Votes }}{{ if ne $i 0 }}、{{ end }}{{ $v.Name }}{{ end }}
              </p>
            </div>
          </div>
        </div>
        <div class="l-align-center">
          <span class="btn event-finish-btn" id="finish-password-open-btn">投票を終了する</span>
          <p class="finish-btn-explain">※投票を終了して結果を表示します。イベント作成時のパスワードが必要になります。</p>
        </div>
        <div class="modal is-modal-invisible" id="finish-password">
          <div class="modal-item">
            <div class="modal-header">
              <span class="modal-close-btn" id="finish-password-close-btn">×</span>
              <h3>パスワード入力</h3>
            </div>
            <div class="modal-content">
              <form action="/finishevent/{{.event.ID}}" method="post">
                <input type="password" name="password" placeholder="パスワード">
                <button type="submit" class="btn btn-inverse">結果を表示</button>
              </form>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    <footer>
      <span>&copy; 2018 Joichiro Hashikawa All Rights Reserved.</span>
    </footer>
  </body>
</html>

<script>
  $(function() {
    $('#vote-list-open-btn').click(function() {
      $('#vote-list').removeClass('is-modal-invisible');
    });

    $('#vote-list-close-btn').click(function() {
      $('#vote-list').addClass('is-modal-invisible');
    });

    $('#edit-password-open-btn').click(function() {
      $('#edit-password').removeClass('is-modal-invisible');
    });

    $('#edit-password-close-btn').click(function() {
      $('#edit-password').addClass('is-modal-invisible');
    });

    $('#finish-password-open-btn').click(function () {
      $('#finish-password').removeClass('is-modal-invisible');
    });

    $('#finish-password-close-btn').click(function () {
      $('#finish-password').addClass('is-modal-invisible');
    });
  });
</script>
