<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borda</title>
  </head>
  <body>
    <a href="/">TOPへ</a>
    <h1>投票管理</h1>
    <h2>テーマ</h2>
    {{ .event.Theme }}

    {{ if .event.Finished }}
      <h2>投票結果</h2>
      <ul>
        {{ range .result }}
          <li>{{ .ChoiceName }}（{{ .TotalScore }}点）</li>
        {{ end }}
      </ul>
    {{ else }}
      <h2>選択肢</h2>
      <ul>
        {{ range .event.Choices }}
          <li>{{ .Name }}</li>
        {{ end }}
      </ul>
      <a href="/vote/{{.event.ID}}">投票ページへ</a>
      <form method="post" style="margin: 0;" action="/finishevent/{{.event.ID}}">
        <input type="submit" value="投票を終了する">
      </form>
    {{ end }}
  </body>
</html>
