<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borda</title>
    <link rel='stylesheet' href="src/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <a href="/" class="icon">ボルダで決めったー</a>
    </header>
    <div class="l-main">
      <h1>投票イベント設定</h1>
      <form action="/createevent" method="post" class="event-form">
        <div class="form-item">
          <input type="text" name="theme" placeholder="テーマ">
        </div>
        <div class="form-item">
          <textarea name="detail" rows="3" placeholder="説明（任意）"></textarea>
        </div>
        <div class="form-item">
          <div class="num-selector">
            <p>選択肢の数</p>
            <span class="num-btn plus-btn" id="plus-btn">＋</span>
            <span class="num" id="num">2</span>
            <span class="num-btn minus-btn is-btn-disabled" id="minus-btn">－</span>
          </div>
        </div>
        <div id="choice-list">
          <div class="form-item choice-item">
            <input type="text" name="choices[]" placeholder="選択肢1">
          </div>
          <div class="form-item choice-item">
            <input type="text" name="choices[]" placeholder="選択肢2">
          </div>
        </div>
        <button type="submit" class="btn">作成</button>
      </form>
    </div>
    <footer>
       <span>&copy; 2018 Joichiro Hashikawa All Rights Reserved.</span>
    </footer>
  </body>
</html>

<script>
  $(function() {
    var count = 2;

    $('#plus-btn').click(function() {
      if (count == 2) {
        $('#minus-btn').removeClass('is-btn-disabled');
      }
      count++;
      $('#num').text(count);
      $('#choice-list').append(
        '<div class="form-item choice-item">' +
        '<input type="text" name="choices[]" placeholder="選択肢' + count + '">' +
        '</div>'
      );
    });

    $('#minus-btn').click(function() {
      if (count <= 2) {
        return;
      }
      $(".choice-item:last-child").remove();
      count--;
      $('#num').text(count);
     if (count <= 2) {
       $('#minus-btn').addClass('is-btn-disabled');
     }
    });
  });
</script>
