<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borda</title>
    <link rel='stylesheet' href="src/style.css">
  </head>
  <body>
    <div class="l-main">
      <h1 class="top-title">Borda</h1>
      <div class="l-align-center">
        <a href="/setting" class="btn">投票イベントを作成</a>
      </div>
    </div>
    <footer>
      <span>&copy; 2018 Joichiro Hashikawa All Rights Reserved.</span>
    </footer>
  </body>
</html>
