<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borda</title>
    <link rel='stylesheet' href="../src/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="l-main">
      <a href="/">TOPへ</a>
      <a href="/event/{{.event.ID}}">戻る</a>
      <h1>投票</h1>
      <h2>テーマ</h2>
      {{ .event.Theme }}
      <form action="/vote/{{.event.ID}}" method="post" class="event-form">
        <div class="form-item">
          <p class="form-explain">
            良いと思う順にクリックしてください。間違えた場合は、下のリセットボタンを押してやり直すことができます。
          </p>
        </div>
        <div class="form-item">
          <ul>
            {{ range .event.Choices }}
            <li>
              <div class="choice">
                {{ .Name }}
                <span class="score"></span>
              </div>
              <input type="hidden" name="scores[]" data-choice-id="{{ .ID }}" value="">
            </li>
            {{ end }}
            <span class="btn reset-btn" id="reset-btn">リセット</span>
          </ul>
        </div>
        <div class="form-item">
          <input type="text" name="name" placeholder="ニックネーム" class="nickname-form">
        </div>
        <button type="submit" class="btn">投票</button>
      </form>
    </div>
    <footer>
      <span>&copy; 2018 Joichiro Hashikawa All Rights Reserved.</span>
    </footer>
  </body>
</html>

<script>
  $(function() {
    var num;
    var count;
    init();

    function init() {
      num = $('.choice').length;
      count = 0;
    }

    $('#reset-btn').click(function() {
      init();
      $('.score').text('');
      $('input[type="hidden"]').val('');
      $('.choice').removeClass("is-choice-selected")
    });

    $('.choice').click(function() {
      var $input = $(this).siblings('input');
      if ($input.val() !== '') {
        return;
      }
      var score = num - count;
      $(this).children('.score').html('<span class="score-label">' + (count + 1) + '位' + '<br>' + '<small>(' + score + '点)<small>' + '</span>');
      var choiceId = $input.data('choice-id');
      $input.val('{"score":' + score + ',"choice_id":' + choiceId + '}');
      $(this).addClass("is-choice-selected")
      count++;
    });
  });
</script>
